#title {
    margin-bottom: 5em;
}

.options-text {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

html, body,
#text {
    position: absolute;
    left: 50%;
    padding: 1em;
    text-align: center;
}

#myGraph {
    position: fixed;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 50%;
    min-height: 100vh;
    border-right: 1px solid lightgray;
    background: white;
  }


  